# Copy this file to .env and modify as needed.

# The AWS profile to use when publishing
# AWS_PROFILE=kmnlp # This value must not be present in CI. Un-comment in dev as appropriate.

AWS_ACCOUNT_ID=<replace with AWS account id>


CI_JOB_ROLE_ARN=<replace_with_you_ci_job_role_arn>
DEVELOPERS_ROLE_ARN=<replace with arn of developers role>
