# Copy this file to .env and modify as needed.

# A unique organization identifier to make buckets unique
ORG_ID=<replace_with_your_org_id>

# The AWS profile to use when publishing
# AWS_PROFILE=kmnlp # This value must not be present in CI. Un-comment in dev as appropriate.

REGION=us-east-1
STATE_BUCKET=kmnlp-${ORG_ID}-terraform
LOCK_TABLE=kmnlp-tf-lock
DEPLOY_BUCKET=kmnlp-${ORG_ID}-deploy
